.homepage-left{
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    text-align: center;
    border-right: 2px solid #e0e0e0;
}

.homepage-left h1 {
    font-size: 3rem;
    color: #0077b5;
    margin-bottom: 15px;
}

.homepage-left h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.icon{
    font-size: 2.5rem;
    color: #0077b5;
    transition: color 0.3s, transform 0.3s;
}

.icon:hover {
    color: #005582;
    transform: scale(1.2);
}

.homepage-right{
    flex: 1;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.homepage-right h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

form{
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 1.2rem;
}

input{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus{
    outline: none;
    border-color: #0077b5;
    box-shadow: 0 0 5px rgba(0, 119, 181, 0.5);
}

form button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0077b5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #005582;
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}

.button-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 768px){
    #webpage{
        flex-direction: column;
    }
    .homepage-left, .homepage-right {
        padding: 20px;
    }

    .homepage-left h1{
        font-size: 2.5rem;
    }
    .homepage-left h3 {
        font-size: 1.2rem;
    }
    .icon{
        font-size: 2rem;
    }
    button {
        font-size: 0.9rem;
    }
}
